<html>
<head>
<title>Flask Tutorial</title>
</head>
<body>
    <img src="{{url_for('static', filename='logo.jpeg')}}" style="width: 400px;"/><br>
    <form action="/prediction" method="post">
        <label for="q190_0.0">Has anyone been identified as the patient's primary support person for pre- and post-transplant care?</label><br>
        <input type="radio" name="q190_0.0" value="1">
        <label for="q190_0.0">Yes</label><br>
        <input type="radio" name="q190_0.0" value="0">
        <label for="q190_0.0">No</label><br>
        <input type="radio" name="q190_0.0" value="0">
        <label for="q190_0.0">NaN</label><br>

        <label for="q178">Are there any pediatric children or grandchildren (less than 18 years old) who live with the patient?</label><br>
        <input type="radio" name="q178" value="1">
        <label for="q178">Yes</label><br>
        <input type="radio" name="q178" value="0">
        <label for="q178">No</label><br>
        <input type="radio" name="q178" value="NaN">
        <label for="q178">NaN</label><br>

        <label for="q149">Was the patient recently a home caregiver for children or elderly relatives?</label><br>
        <input type="radio" name="q149" value="1">
        <label for="q149">Yes</label><br>
        <input type="radio" name="q149" value="0">
        <label for="q149">No</label><br>
        <input type="radio" name="q149" value="NaN">
        <label for="q149">NaN</label><br>

        <label for="q108">Has the patient ever abused opioid pills (e.g., hydrocodone, oxycodone, hydromorphone, Vicodin, Percocet, or Dilaudid)?</label><br>
        <input type="radio" name="q108" value="0">
        <label for="q108">Never Used</label><br>
        <input type="radio" name="q108" value="1">
        <label for="q108">Former Rare User</label><br>
        <input type="radio" name="q108" value="2">
        <label for="q108">Former Abuse/Dependence</label><br>
        <input type="radio" name="q108" value="2">
        <label for="q108">Current/Recent User</label><br>
        <input type="radio" name="q108" value="NaN">
        <label for="q108">NaN</label><br>

        <label for="q155">Is the patient observant of his or her religion and/or attend services regularly?</label><br>
        <input type="radio" name="q155" value="1">
        <label for="q155">Yes</label><br>
        <input type="radio" name="q155" value="0">
        <label for="q155">No</label><br>
        <input type="radio" name="q155" value="NaN">
        <label for="q155">NaN</label><br>

        <label for="q189">Does the patient currently have a healthy/strong relationship with his or her sibling(s)?</label><br>
        <input type="radio" name="q189" value="1">
        <label for="q189">Yes</label><br>
        <input type="radio" name="q189" value="0">
        <label for="q189">No</label><br>
        <input type="radio" name="q189" value="NaN">
        <label for="q189">NaN</label><br>

        <label for="q120">Did the patient ever complete a rehabilitation program?</label><br>
        <input type="radio" name="q120" value="1">
        <label for="q120">Yes</label><br>
        <input type="radio" name="q120" value="0">
        <label for="q120">No</label><br>
        <input type="radio" name="q120" value="NaN">
        <label for="q120">NaN</label><br>

        <label for="q17">During the interview, did the patient make eye contact with the interviewer?</label><br>
        <input type="radio" name="q17" value="1">
        <label for="q17">Yes</label><br>
        <input type="radio" name="q17" value="0">
        <label for="q17">No</label><br>
        <input type="radio" name="q17" value="NaN">
        <label for="q17">NaN</label><br>

        <label for="q2_2.0">Is the interviewer's background in social work?</label><br>
        <input type="radio" name="q2_2.0" value="1">
        <label for="q2_2.0">Yes</label><br>
        <input type="radio" name="q2_2.0" value="0">
        <label for="q2_2.0">No</label><br>
        <input type="radio" name="q2_2.0" value="0">
        <label for="q2_2.0">NaN</label><br>

        <label for="q111">Has the patient ever been treated with methadone for opioid addiction?</label><br>
        <input type="radio" name="q111" value="0">
        <label for="q111">Never Used</label><br>
        <input type="radio" name="q111" value="1">
        <label for="q111">Former User</label><br>
        <input type="radio" name="q111" value="2">
        <label for="q111">Current/Recent User</label><br>
        <input type="radio" name="q111" value="NaN">
        <label for="q111">NaN</label><br>

        <label for="q160_1.0">Does the patient have insurance?</label><br>
        <input type="radio" name="q160_1.0" value="1">
        <label for="q160_1.0">Yes</label><br>
        <input type="radio" name="q160_1.0" value="0">
        <label for="q160_1.0">No</label><br>
        <input type="radio" name="q160_1.0" value="0">
        <label for="q160_1.0">NaN</label><br>

        <label for="q198">Did the interviewer discuss potential live donors?</label><br>
        <input type="radio" name="q198" value="1">
        <label for="q198">Yes</label><br>
        <input type="radio" name="q198" value="0">
        <label for="q198">No</label><br>
        <input type="radio" name="q198" value="NaN">
        <label for="q198">NaN</label><br>

        <label for="q190_1.0">Has a spouse/significant other been identified as the patient's primary support person for pre- and post-transplant care?</label><br>
        <input type="radio" name="q190_1.0" value="1">
        <label for="q190_1.0">Yes</label><br>
        <input type="radio" name="q190_1.0" value="0">
        <label for="q190_1.0">No</label><br>
        <input type="radio" name="q190_1.0" value="0">
        <label for="q190_1.0">NaN</label><br>

        <br><input type="submit" value="Submit">
    </form>
</body>
</html> 
